---
index: false
---

:ruby

  nometa = sitemap.resources.select do |p|
    p.url.match(/^\/feature\//) && p.data.feature_name.nil?
  end.sort_by { |p| p.url.split('/')[2..-2].join('/') || p.url }

=link_to '&larr; Back to site tools', '/site/'

%h1 Feature pages without proper metadata

%table.sortable.table
  %thead
    %tr
      %th Page
      %th{'data-defaultsort' => 'asc'} Location
  %tbody
    - nometa.each do |page|
      %tr
        %td
          %a{href: page.url}= page.data.title
        %td
          = page.url.split('/')[2..-2].join('/')

- content_for :tail do
  :coffee
    jQuery.bootstrapSortable('table')
