---
index: false
---

:ruby

  nometa = sitemap.resources.select do |p|
    p.url.match(/^\/feature\//) && p.data.feature_name.nil?
  end.sort_by { |p| p.url.split('/')[2..-2].join('/') || p.url }

%h1 Feature pages without proper metadata

%table
  %tr
    %th Page
    %th Location
  - nometa.each do |page|
    %tr
      %td
        %a{href: page.url}= page.data.title
      %td
        = page.url.split('/')[2..-2].join('/')
