<h1>Features (Design documents)</h1>
<section class="col-md-12" style="display: block;">

  <h2>Gluster</h2>
  <ul>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-arbiter-volume">Gluster Arbiter Volume</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/detailed-gluster-geo-rep">Detailed Gluster Geo Rep</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/detailed-gluster-volume-asynchronous-tasks-management">Detailed Gluster Volume Asynchronous Tasks Management</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gdeploy-cockpit-integration">Gdeploy Integration with Cockpit</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-dashboard">Gluster Dashboard</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-dr">Disaster recovery for gluster storage domains</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-geo-replication">Geo replication</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-hooks-management">Gluster Hooks management</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-import-existing-cluster">Import cluster</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-multiple-bricks-per-storage">Support for multiple GlusterFS bricks on a block device(s)</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-reset-brick-support">Gluster management</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-self-heal-monitoring">Gluster Self-Heal Monitoring</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-support">Gluster management</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-swift-management">Gluster Swift Management</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-sync-configuration-with-cli">Sync Gluster configuration with CLI</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-volume-asynchronous-tasks-management">Gluster tasks management</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-volume-capacity">Gluster Volume Capacity</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/gluster-volume-performance-statistics">Gluster Volume Performance Statistics</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/glusterbricklvmcache">LVMCache configuration for gluster brick provisioning</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/glusterfs-hyperconvergence">GlusterFS Hyperconvergence</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/glustergeoreplication">Gluster Geo Replication</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/glusterhostdiskmanagement">Host Device Management</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/glusterhostdiskmanagementdesign">Gluster Host Disk Management</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/glustervolumeadvanceddetails">Gluster Volume Advanced Details</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/glustervolumequota">Gluster Volume Quota</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/glustervolumesnapshots">Gluster Volume Snapshot</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/nagios-integration">Nagios Integration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/gluster/select-network-for-gluster">Select Network for Gluster traffic</a>
    </li>
  </ul>


  <h2>Infra</h2>
  <ul>

    <li>
      <a href="/develop/release-management/features/integration/container-support">Container Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/inclusterupgrade">In Cluster Upgrade</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/Engine_vacuum">Engine Vacuum Tool</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/aaa-jdbc">AAA_JDBC</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/aaa">AAA</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/aaa_faq">AAA Frequently asked questions</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/addingkeystoneurltoexternalproviders">Adding Keystone URL To External Providers</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/ansible_modules">Ansible oVirt modules</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/api">API</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/asynctaskmanagerchanges-3.3">AsyncTaskManagerChanges 3.3</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/asynctaskmanagerchanges-3.3detailed">AsyncTaskManagerChanges 3.3Detailed</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/asynctaskmanagerchanges">Async Task Manager Changes</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/authentication-rewrite">Authentication Rewrite</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/backupawareness">Adding Backup Awareness to oVirt</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/bootstrap-improvements">Bootstrap Improvements</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/cli">CLI</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/command-coordinator-flows-and-events">CommandCoordinator Framework Enhancements to Support Flows and Events</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/commandcoordinator">Introduce CommandCoordinator Framework and Ability To Persist Commands in Database</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/custompropertiessheet">Custom Properties Sheet</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/dbschemaversioncheck">DB Schema Version Check</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/detailedclonevmfromsnapshot">Detailed Clone VM From Snapshot</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/detailedexternalevents">Detailed External Events</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/detailedexternaltasks">Detailed External Tasks</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/detailedhostpmmultipleagents">Detailed Host PM Multiple Agents</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/detailedhostpmproxypreferences">Detailed Host PM Proxy Preferences</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/detailedlockmechanism">Detailed Lock Mechanism</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/detailedpmhealthcheck">Detailed PM Health Check</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/drbd">DRBD</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/engine-command-changes">Engine Command changes</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/engine-config-utilities">Engine Config Utilities</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/engine-nic-health-check">Engine NIC health check</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/engine-snmp">engine snmp</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/engine-snmp3">Add support to send SNMPv3 traps from notifier</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/entity-configuration-management">Entity Configuration Management</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/entityhealthstatus">Entity Health Status</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/extension-tester-tool">Extension tester tool</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/externalevents">External Events</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/externaltasks">External Tasks</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/fence-kdump">Fence kdump</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/fenceagents">Fence Agents</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/fencing-refactoring">Fencing refactoring</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/foremanintegration">Foreman Integration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/hostbiosinfo">Host Bios Info</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/hosthardwareinfo">Host Hardware Info</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/hostpmmultipleagents">Host PM Multiple Agents</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/hostpmproxypreferences">Host PM Proxy Preferences</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/java-sdk">Java sdk</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/jsonrpc">Introduce Messaged communication to VDSM using  JSON-RPC on top of various transport protocols</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/jsonrpc3.5"> JSON RPC 3.5</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/katellointegration">Katello Integration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/kerberos-support-in-sdks-and-cli">Kerberos Support in SDKs and CLI</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/link-following">Link Following</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/ntpsupport">NTP Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/one-certificate-key-pair-per-nic">One certificate-key pair per NIC</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/pki-improvements">PKI Improvements</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/pki-renew">PKI Renew</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/pki">PKI</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/pkireduce">PKI Reduce</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/pmhealthcheck">PM Health Check</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/python-sdk">Python sdk</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/python3-compatibility">VDSM python3 compatibility</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/restsessionmanagement">REST Session Management</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/rsdl-schema">RSDL schema</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/rsdl">RSDL</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/runningcommandsonendactionfailure">Running Commands On End Action Failure</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/serial-execution-of-asynchronous-tasks">Serial Execution of Asynchronous Tasks</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/ssh-abilities">SSH Abilities</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/sso-method-control">SSO Method Control</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/sso">SSO</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/supervdsm-service">SuperVDSM service</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/taskmanager">Task Manager</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/taskmanagercanceltask">Task Manager Cancel Task</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/taskmanagerdetailed">Task Manager Detailed</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/testingframework">Testing Framework</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/uniformssosupport">Uniform SSO Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/upgrademanager">Upgrade Manager</a>
    </li>
    <li>
      <a href="/develop/release-management/features/infra/user-portal-permissions">User Portal Permissions</a>
    </li>
  </ul>

  <h2>Integration</h2>

  <ul class="feature-list">
    <li>
      <a href="/develop/release-management/features/integration/allinone">All in One</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/cockpit">Cockpit-oVirt Plugin</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/engine-backup">oVirt engine backup</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/engine-cleanup">Engine</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/fedora-21-support">Fedora 21 Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/fedora-22-support">Fedora 22 Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/fedora-24-support">Fedora 24 Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/heapplianceflow">oVirt hosted-engine appliance flow</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/hostdeployprotocol">Host Deploy Protocol</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/live-rebase-on-centos-7">oVirt Live Rebase on CentOS 7</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/networkmanager-support">NetworkManager Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/otopi-infra-migration">Otopi Infra Migration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/ovirtappliance">oVirt Appliance</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/remotedb">Remote DB</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/separate-dwh-host">Separate DWH Host</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/websocketproxy-on-a-separate-host">WebSocketProxy on a separate host</a>
    </li>
    <li>
      <a href="/develop/release-management/features/integration/windows-guest-tools">oVirt Windows Guest Tools ISO</a>
    </li>
  </ul>

  <h2>Metrics</h2>
  <ul class="feature-list">
    <li>
      <a href="/develop/release-management/features/metrics/metrics-store">[4.3] oVirt Metrics Store</a>
    </li>
    <li>
      <a href="/develop/release-management/features/metrics/metrics-store-installation">[4.3] oVirt Metrics Store - Installation Guide</a>
    </li>
    <li>
      <a href="/develop/release-management/features/metrics/hypervisors-and-engine-setup">[4.3] oVirt Metrics Store - Hypervisors and Engine Setup</a>
    </li>
    <li>
      <a href="/develop/release-management/features/metrics/metrics-store-collected-metrics">[4.3] oVirt Metrics Store - Collected Data</a>
    </li>
    <li>
      <a href="/develop/release-management/features/metrics/metrics-store-schema">[4.3] oVirt Metrics Store - Schema</a>
    </li>
    <li>
      <a href="/develop/release-management/features/metrics/setting-up-viaq-logging">[4.3] oVirt Metrics Store - Setting Up ViaQ Logging</a>
    </li>
    <li>
      <a href="/develop/release-management/features/metrics/metrics-store-all-in-one">[4.2] All In One Installation</a>
    </li>
  </ul>

  <h2>Network</h2>
  <ul class="feature-list">
    <li>
      <a href="/develop/release-management/features/network/openvswitch/native-openvswitch">Native Open vSwitch</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/remove-dc-entity-network">Remove DC Entity Network</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/networkfilter">Network Filter</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/allowExplicitDnsConfiguration">Allow Explicit Dns Configuration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/apidatacenternetworks">API Data Center Networks</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/arbitraryvlandevicename">Arbitrary VLAN Device Name</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/autodefine-external-network">Autodefine External Network</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/bridgeless-networking">Bridgeless Networking</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/bridgeless-networks">Bridgeless Networks</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/cumulative-rx-tx-statistics">Cumulative Network Usage Statistics</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/detailed-host-network-qos">Host Network QoS</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/detailed-osn-integration">Detailed OSN Integration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/detailedhostnetworkingapi">Host Networking API</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/detailedmanagementnetworkasarole">Management network as a role - Detailed</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/detailednetworklinking">Detailed Network Linking</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/detailedreportingvnicinformation">Detailed Reporting Vnic Information</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/device-custom-properties">Device Custom Properties</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/directhostaddress">Direct Host Address</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/ethtool-options">Device ethtool options</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/external-network-provider">External Network Providers</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/get-route-device">Get Route Device</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/get-route">Get Route</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/host-network-qos">Host Network QoS</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/hostnetworkingapi">Host Networking API</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/hotplugnic">Hotplug/Hotunplug of Network Interface Cards</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/import-vm-net-changes-2">Expand vNic profile mapping options for VM import from Storage Domain via REST API</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/import-vm-net-changes">Change network information in VM import</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/ipv6-support">IPv6 support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/isolatednetworks">Isolated Network</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/jumbo-frames">Jumbo frames</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/liveMigrationSupportForSRIOV">Live Migration Support For SRIOV</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/lldp">Link Layer Discovery Protocol (LLDP) Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/managed_mtu_for_vm_networks">Managed MTU for VM Networks</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/manageiq_ovn">Integrating OVN to ManageIQ</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/management-network-as-a-role">Management network as a role</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/mangeiqOvn">mangeiq Ovn</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/migration-network">Migration Network</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/multihostnetworkconfiguration">Multi Host Network Configuration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/multiple-gateways">Multiple Gateways</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/network-custom-properties">Network Custom Properties</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/network-labels">Network Labels</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/network-qos-detailed-design">Network QoS - detailed design</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/networkfiltering">Network Filtering</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/networkfilterparameters">Network Filter Parameters</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/networking-api-security-groups">security group support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/networklabels">Network Labels</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/networklinking">Network Linking</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/networkmaintab">Network Main Tab</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/networkpermissions">Network Permissions</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/networkreloaded">Network Reloaded</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/nicless-network">Nic-less Network</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/normalized-ovirtmgmt-initialization">Normalized oVirtmgmt Initialization</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/openstack_identity_api_v3">Support OpenStack Identity API v3</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/osn-integration">OSN Integration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/ovirt-lldp-labeler">oVirt LLDP labeler</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/ovirt-ovn-provider">oVirt OVN Provider</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/portmirroring">Port Mirroring</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/predictable-vnic-order">Predictable vNIC Order</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/provider-physical-network">Provider Physical Network</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/reportingvnicinformation">Reporting Vnic Information</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/required-networks">Required Networks</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/resolveactiveinterface">Resolve Active Interface</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/setupnetworks">Setup Networks</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/sr-iov">SR_IOV</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/ucs-integration">Cisco UCS integration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/unrestricted-network-names">Unrestricted Network Names</a>
    </li>
    <li>
      <a href="/develop/release-management/features/network/update-device-hooks">Update device hooks</a>
    </li>
  </ul>

  <h2>Node</h2>
  <ul class="feature-list">
    <li>
      <a href="/develop/release-management/features/node/cockpit">Cockpit</a>
    </li>
    <li>
      <a href="/develop/release-management/features/node/genericregistration">Generic Registration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/node/glusterfs-support">Node GlusterFS Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/node/node-next-persistence">Reinstall/Persist RPMs after Node upgrades</a>
    </li>
    <li>
      <a href="/develop/release-management/features/node/node-validate-pre-conditions-during-installation">Installation/Validate Node Pre Coditions for Installation</a>
    </li>
    <li>
      <a href="/develop/release-management/features/node/node.next">Node.next</a>
    </li>
    <li>
      <a href="/develop/release-management/features/node/nodeautomation">Node Automation</a>
    </li>
    <li>
      <a href="/develop/release-management/features/node/universal-image">Universal Image</a>
    </li>
  </ul>

  <h2>SLA</h2>
  <ul class="feature-list">
    <li>
      <a href="/develop/release-management/features/sla/affinity-labels-management-via-admin-portal">Affinity Labels Management via the Administration Portal</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/affinity-rules-enforcement-manager">Affinity Rules Enforcement Manager</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/aggregate-qos">aggregate QoS</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/automatic-scaling">Automatic scaling</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/autorecovery">Autorecovery</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/blkio-support">blkio support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/cluster-maintenance">Cluster maintenance scheduling policy</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/cluster-optimization-host-change-notification">Cluster Optimization Host Change Notification</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/cockpit-he-wizard-ui-update">Cockpit Hosted Engine Wizard UI Update</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/cpu-host-support">CPU-host Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/cpu-sla">CPU SLA</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/cpu-thread-handling">CPU thread handling</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/deploy-hosted-engine-hosts-via-engine">Hosted Engine: add hosts with Web UI</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/detailed-numa-and-virtual-numa">Detailed NUMA and Virtual NUMA</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/detailedquota">Detailed Quota</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/drools-planner-scheduler">drools planner scheduler</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/engine-high-availability">Engine High Availability</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/even-vm-count-distribution">Even VM Count Distribution</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/external-scheduling-proxy">oVirt External Scheduling Proxy</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/ha-vm-reservation-detaileddesign">HA VM reservation detailedDesign</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/ha-vm-reservation">HA VM reservation</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/hosted-engine-add-hosts-with-web-ui">Hosted Engine: add hosts with Web UI</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/hosted-engine-agent-offloading">Hosted Engine: Move all the hardwork from agent to the broker</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/hosted-engine-configuration-on-shared-storage">Hosted Engine configuration on shared storage</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/hosted-engine-edit-configuration-on-shared-storage">Allow updating Hosted Engine configuration on shared storage</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/hosted-engine-improve-management-in-host-dialogs">Hosted Engine: Improve Management in Host Dialogs</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/hosted-engine-indicate-host-in-web-ui">Hosted Engine: indicate hosted engine host in Web UI</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/hosted-engine-indicators-ui">Hosted Engine related changes in the UI</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/hosted-engine-migration-to-4-0">Hosted-engine migration to 4.0</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/hosted-engine-new-deployment">An Ansible Script for Installing a Hosted Engine</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/hosted-engine-ovf-extraction">Hosted engine shared configuration extraction and caching</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/hosted-engine-vm-management">Hosted engine VM management enhancements</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/hosted-engine">Node Hosted Engine</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/hostpowermanagementpolicy">Host Power Management Policy</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/list-vms-pinned-to-host">List VMs pinned to a host</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/memory-aware-even-distribution-policy">Memory-aware Even-distribution Policy</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/memory-hotplug">Memory Hotplug</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/memorybasedbalancing">CPU and Memory based cluster auto balancing</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/minimum-guaranteed-memory">Minimum guaranteed memory</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/mom-declarative-language">New policy language for MOM</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/momintegration">Mom Integration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/numa-and-virtual-numa">NUMA and Virtual NUMA</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/numaawareksmsupport">NUMA aware KSM support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/optaplanner">Optaplanner</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/ovirtscheduler">o Virt Scheduler</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/ovirtschedulerapi">o Virt Scheduler API</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/pendingresourcemanager">Pending Resource Manager</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/performance-and-scalability">Performance And Scalability</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/quota-3.2">Quota 3.2</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/quota">Quota</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/scheduler-policies">oVirt Scheduler Policies</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/scheduling-weight-normalization">Normalizing scheduling policy weights</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/self-hosted-engine-fc-support">Self Hosted Engine FC Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/self-hosted-engine-gluster-support">Self Hosted Engine Gluster Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/self-hosted-engine-hyper-converged-gluster-support">Self Hosted Engine Hyper Converged Gluster Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/self-hosted-engine-iscsi-support">Self Hosted Engine iSCSI Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/self-hosted-engine-maintenance-flows">Hosted Engine Maintenance Flow Unification</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/self-hosted-engine">Self Hosted Engine</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/sla-for-storage-io-bandwidth">SLA for storage io bandwidth</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/sla-mom-ballooning-tp">SLA mom ballooning tp</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/sla-mom">SLA mom</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/soft-host-to-vm-affinity-support">Soft host to VM affinity support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/stateless-broker">Stateless broker</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/trusted-compute-pools">Trusted compute pools</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/vm-affinity">VM Affinity</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/vm-coredump">VM coredump</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/vmpinningtomultiplehosts">VM pinning to multiple hosts</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/vnic-profiles">Vnic Profiles</a>
    </li>
    <li>
      <a href="/develop/release-management/features/sla/watchdog-engine-support">Watchdog engine support</a>
    </li>
  </ul>

  <h2>Storage</h2>
  <ul class="feature-list">
    <li>
      <a href="/develop/release-management/features/storage/advancednfsoptions">Advanced Nfs Options</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/backup-restore-api-integration">Backup-Restore API Integration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/backup-restore-disk-snapshots">Backup-Restore Disk-Snapshots</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/cinder-integration">Cinder Integration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/copy-disks">Copy Disks</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/data-path-operations">Data Path Operations On Any Host</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/detailedfloatingdisk">Floating Disk</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/direct-lun">Direct LUN</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/discard-after-delete">Discard after delete</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/disk-hooks">Disk Hooks</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/diskalignment">Disk Alignment</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/diskpermissions">Disk Permissions</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/domain-scan">Domain Scan</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/floatingdisk">Floating Disk</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/glance-integration">Glance Integration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/glusterfs-storage-domain">GlusterFS Storage Domain</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/hotplugdisk">Disk Hot Plug</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/image-upload">Image I/O</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/importmorethanonce">Import VM or Template More than Once</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/importstoragedomain">Import Storage Domain</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/importunregisteredentities">Detach/Attach Storage Domain with Entities</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/incremental-backup">Incremental Backup</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/ioprocess">ioprocess</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/iscsi-multipath">Configure iSCSI Multipathing</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/live-merge">Live Merge</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/live-storage-migration-between-mixed-domains">Live storage migration between mixed domains</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/lun-resize">Refresh LUN Size</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/manage-storage-connections">Manage storage connections</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/mixed-types-data-center">Mixed Type Data Center</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/moveascopyanddelete">Move As Copy And Delete</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/multipath-events">Multipath Alerts</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/multiplestoragedomains">Multiple Storage Domains</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/nfsv4">NFSv4</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/online-virtual-drive-resize">Online Virtual Drive Resize</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/ovfautoupdater">Ovf Auto Updater</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/ovfonanydomain">OVF On Any Domain</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/pass-discard-from-guest-to-underlying-storage">Pass discard from guest to underlying storage</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/posixfsconnection">PosixFS Connection</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/qcow2v3">QCOW2 compat levels</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/read-only-disk">Read-Only Disks</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/reduce-luns-from-sd">Reduce LUNs from Storage Domain</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/remove-snapshot">Remove Snapshot</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/reportguestdiskslogicaldevicename">Report Guest Disks Logical Device Name</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/sanlock-fencing">Sanlock Fencing</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/sharedStorageDomainsAttachedToLocalDC">Attach shared Storage Domains to a local DC.</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/sharedrawdisk">Shared Raw Disk</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/single-disk-snapshot">Single Disk Snapshot</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/snapshots-overview">Snapshot Overview</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/spmpriority">SPM Priority</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/storage_domain_v4">Storage Domain V4</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/storagedomainliveupgrade">Storage Domain Live Upgrade</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/storagelivemigration">Storage Live Migration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/storagepool-metadata-removal">StoragePool Metadata Removal</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/virtio-scsi">Virtio SCSI</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/vm-leases-and-snapshots-behavior">VM leases and snapshots integration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/vm-leases">VM Leases</a>
    </li>
    <li>
      <a href="/develop/release-management/features/storage/wipe-volumes-using-blkdiscard">Wipe volumes using blkdiscard</a>
    </li>
  </ul>

  <h2>UX</h2>
  <ul class="feature-list">
    <li>
      <a href="/develop/release-management/features/ux/branding">Branding</a>
    </li>
    <li>
      <a href="/develop/release-management/features/ux/detailedhotplugnic">Detailed Hot Plug NIC</a>
    </li>
    <li>
      <a href="/develop/release-management/features/ux/detailedstabledeviceaddresses">Detailed Stable Device Addresses</a>
    </li>
    <li>
      <a href="/develop/release-management/features/ux/foreign-menu-using-rest">Foreign Menu Using REST</a>
    </li>
    <li>
      <a href="/develop/release-management/features/ux/i18n">I18N</a>
    </li>
    <li>
      <a href="/develop/release-management/features/ux/uiplugins43">UIPlugins 4.3+</a>
    </li>
    <li>
      <a href="/develop/release-management/features/ux/uipluginsoriginaldesignnotes">UI Plugins Original Design Notes</a>
    </li>
    <li>
      <a href="/develop/release-management/features/ux/uirefreshsynchronization">Refresh Synchronization</a>
    </li>
  </ul>

  <h2>VDSM</h2>
  <ul class="feature-list">
    <li>
      <a href="/develop/release-management/features/vdsm/libvdsm">libVDSM</a>
    </li>
    <li>
      <a href="/develop/release-management/features/vdsm/measurements">Measurements</a>
    </li>
    <li>
      <a href="/develop/release-management/features/vdsm/vdsm-plugin">Node VDSM plugin</a>
    </li>
    <li>
      <a href="/develop/release-management/features/vdsm/vdsm-vm-query-api">VDSM VM Data Query API</a>
    </li>
  </ul>

  <h2>Virt</h2>
  <ul class="feature-list">
    <li>
      <a href="/develop/release-management/features/virt/KvmToOvirt">v2v: Importing Libvirt KVM VMs to oVirt</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/XenToOvirt">v2v: Importing Xen on EL to oVirt</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/autoinstall-windows-drivers">Automatic installation of Windows drivers</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/blank-to-defaults">Blank to Defaults</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/clone-vm">Clone VM</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/clonevmfromsnapshot">Clone VM From Snapshot</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/cloud-init-integration">Cloud-Init Integration</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/cluster-emulation-modes">Cluster emulation modes</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/cluster-parameters-override">Cluster parameters override</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/console-connection-settings-dialog-in-portals">Console connection settings dialog in portals</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/detailed-exit-reason">Detailed Exit Reason</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/display-address-override">Display Address Override</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/edit-running-vm">Edit Running VM</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/engine-support-for-ppc64">Engine support for PPC64</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/enhance-import-export-with-ova">Enhance import-export with OVA</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/expose-vm-devices">Expose VM Devices</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/for-ppc64">VDSM for PPC64</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/fullapplicationslist">Full Applications List</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/guest-reboot">Guest Reboot</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/guestagent">Guest Agent</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/guestagentdebian">oVirt Guest Agent on Debian</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/guestagentopensuse">oVirt Guest Agent on OpenSUSE</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/guestagentsles">oVirt Guest Agent on SLE(S)</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/guestagentubuntu">oVirt Guest Agent on Ubuntu</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/headless-vm">Headless VM</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/high-performance-vm-migration">Live migration for High Performance VMs</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/high-performance-vm">High Performance VM</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/hostdev-passthrough">hostdev passthrough</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/hostusb">Expose Host attached USB to a Node</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/hot-plug-cpu">Hot plug CPU</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/hot-plug-memory">Hot plug memory</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/hot-unplug-memory">Hot Unplug Memory</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/instance-types">Instance Types</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/intial-run-vm-tab">Intial Run VM tab</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/iothreads-support">IOThreads Support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/kernel-cmdline">kernel cmdline</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/maximum-memory-size">Maximum memory size</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/microthreading">Microthreading</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/migration-enhancements">Migration Enhancements</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/multiple-consoles">Multiple Consoles</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/multiple-graphic-servers">Multiple Graphic Servers</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/multiplemonitors">Multiple Monitors</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/non-plugin-console-invocation">Non plugin console invocation</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/novnc-console">noVNC console</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/os-info">OS info</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/ovmf">OVMF</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/ppc64le-support">ppc64le support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/prestartedvm">Prestarted VM</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/qemu-ga">QEMU Guest Agent</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/ram-snapshots">RAM Snapshots</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/resourceusagegraph">Resource Usage Graph</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/s3-suspend">S3 suspend</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/serial-console">oVirt serial console</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/smartcard-support">Smartcard support</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/spice-proxy">Spice Proxy</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/spicehtml5">Spice HTML5</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/spicerelatedfeatures">SPICE Related Features</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/stabledeviceaddresses">Stable Device Addresses</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/template-versions">Template Versions</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/virt-sparsify">Virt Sparsify</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/virt-sysprep">Sealing a VM Template</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/virt-v2v-integration">Extended import of Virtual Machines</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/virtio-rng-enhancements">Virtio RNG Enhancements</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/vm-icons">VM Icons</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/vm-init-persistent">VM init persistent</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/vm-lifecycle-with-kubevirt">VM lifecycle in Kubevirt</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/vmdevices-rework">VMDevices rework</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/vmpayload">VM Payload</a>
    </li>
    <li>
      <a href="/develop/release-management/features/virt/xbzrle-and-auto-convergence">XBZRLE and Auto-Convergence</a>
    </li>
  </ul>

</section>
