<h1>Features (Design documents)</h1>
<section class="col-md-12" style="display: block;">

  <ul>
    <% Dir.foreach(Dir.pwd + '/source/' +  current_page.url ) do |section| %>
      <% if File.directory?(Dir.pwd + '/source/' + current_page.url + section) && !section.match('^\.') %>
        <ul><h3><%= section.titleize %></h3>
          <% Dir.glob(Dir.pwd + '/source/' + current_page.url + section + '/*.html.md') do |featurePage| %>
            <li> <a href="<%= current_page.url + section + '/' + File.basename(featurePage).sub('.md', '') %>" ><%= File.basename(featurePage).sub('.html.md', '').titleize %></a> </li>
	  <% end %>
	</ul>
      <% end %>
    <% end %>
  </ul>
