/* general */
#content h1, #content h2, #content h3, #content h4
  color: #333333
  font-family: sans-serif
  font-weight: 200

.page h1
  font-weight: 100

#logo
  padding-top: 6px
  height: 2ex

/* nav */
header.masthead
  background-color: #666
  border-bottom: none
  box-shadow: -4px 0px 9px #626060

header.masthead .nav-pills li.active a
  color: white
  opacity: 100
  background-color: #61b710
  box-shadow: none

header.masthead .nav-pills a:hover
  box-shadow: none

header.masthead .nav-pills a
  color: #d0eec7
  opacity: 100


/* features */
.well
  padding-top: 0px

.feature-sidebar
  border-right: 1px solid #ddd

.ovirtToggleObject
  padding-bottom: 10px

#content h1, #content h2, #content h3, #content h4
  color: #333333
  font-family: sans-serif
  font-weight: 200


.ovirtToggleObject h1
  font-family: sans-serif
  font-size: 25px
  font-weight: 100
  color: darkgreen
  display: inline

.page h1
  font-weight: 100

#toggleLeftArea
  color: #61b60e
  font-variant: small-caps

#feature-search > .form-group > .checkbox
  display: none

.feature_name
  @extend h1
  float: left
  margin-top: 0px

.feature_status
  @extend h4
  float: right
  background-color: #f5f5f5
  padding: 10px
  margin-top: 0px
  font-weight: 100

.feature_modules
  clear: left

.feature_authors

.feature-info > h1
  display: none

.feature-info > #summary ~ p:first-of-type
  background-color: #e2ffc0
  padding: 10px

.feature_status_value
  font-weight: 400
