:ruby
  # To use this partial, you must have `pageable: true` in your page's
  # frontmatter, and reference this partial like so, passing locals:
  #
  # = partial :blog_pagination, locals: locals


- if defined? prev_page or defined? next_page

  - if num_pages > 1

    %ul.pagination

      - if prev_page
        %li
          - if prev_page
            =link_to "Newer", prev_page.url

      - (page_number - 4 .. page_number + 4).select{|i| i > 0 && i <= num_pages}.each do |i|

        - if i == page_number
          %li.active
            %span= i

        - else
          %li
            - p = nil
            - (i ... page_number).each do p = p ? p.metadata[:locals]['prev_page'] : prev_page; end
            - (page_number ... i).each do p = p ? p.metadata[:locals]['next_page'] : next_page; end
            =link_to "#{i}", (p && p.url)

      - if next_page
        %li
          =link_to "Older", next_page.url
