.masthead
  %h1
    = link_to "/" do
      - if data.site.logo
        = image_tag data.site.logo, class: "logo", alt: data.site.name
      - else
        = data.site.name

  -# "Dynamic" navigation is automatically rendered from ../../data/navigation.yml
  = partial :nav, locals: { source: "navigation", nav_class: "nav-pills" }
