.masthead
  -# %h1
    = link_to "/" do
      = image_tag data.site.logo, class: "logo", alt: data.site.name

  -# A few options/examples below:

  -# Use static top navbar include (default on springboard example site)
  = partial "navbar_static_top"

  -# "Dynamic" navigation is automatically rendered from ../../data/navigation.yml
  -# = partial :nav, locals: { source: "navigation", nav_class: "nav-pills" }
