.masthead
  -# %h1
    = link_to "/" do
      = image_tag data.site.logo, class: "logo", alt: data.site.name

  -# Navigation is automatically rendered from ../../data/navigation.yml
  = partial :nav, locals: { source: "navigation", nav_class: "nav-pills" }
