-# This is a plain, static bootstrap navbar written in haml.
-# By default it is inverted and goes on the top of the page.
.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle( type="button" data-toggle="collapse" data-target=".navbar-collapse" )
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand( href="/" title="Home" ) Springboard!
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a( href="/blog/" ) Blog
        %li 
          %a( href="/documentation/" ) Documentation
        %li
          %a( href="/about/" ) About
        %li.dropdown 
          %a.dropdown-toggle( href="#help" title="help" data-toggle="dropdown" ) 
            Help
            %b.caret
          %ul.dropdown-menu
            %li
              %a( href="#" ) These are just examples
            %li
              %a( href="#" ) About how to do a dropdown menu
            %li.divider
            %li
              %a( href="/documentation/" ) Please see Documentation
            %li
              %a( href="#" ) For real help! :-)

