- wrap_layout :layout do
  .row

    .col-sm-3.hidden-print

      = partial "nav", locals: { source: "docs", nav_class: "nav-vertical docbrowser", header: "h2.foo" }

    .col-sm-9

      %h2= current_page.data.title

      = yield
