~ wrap_layout :basic do

  - unless current_page.data.hide_header || request['params']['contentonly']
    = partial "header"

  %section#page-wrap.page-wrap

    %section#page.page

      - if data.site.breadcrumbs
        = partial :breadcrumbs

      %section#content.content{class: current_page.data.no_container ? '' : 'container' }
        -# Show a warning for those using < IE6 or lower
        /[if lt IE 7]
          <p class="chromeframe">You are using an outdated browser.
          <a href="http://browsehappy.com/">Upgrade your browser today</a> or
          <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>

        -# Render actual page content
        = yield

  - unless data.page.hide_footer || request['params']['contentonly']
    = partial "footer"
