~ wrap_layout :layout do

  %section.blog-post-page.row

    .col-md-10.col-md-offset-1

      - blog_post = defined? current_page.date

      - if blog_post
        = partial :blog_post, locals: {article: current_page}

        %section#blog-comments

      - else
        = yield
