-# This is a convoluted way to add a Table of Contents w/o messing w/ Markdown
-# The ToC is added directly before the first H2

:ruby
  is_markdown = current_page.source_file.match(/.(md|markdown|mdown)$/)
  is_feature = current_page.url.start_with?('/develop/release-management/features/')
  layout_type = is_feature ? :feature : :layout

~ wrap_layout layout_type do

  - if is_markdown
    - content = File.read(current_page.source_file).split(/^---$/)[2]
    = markdown_to_html content.to_s.sub(/^## /, "\n1. tic\n{:toc}\n\n\\0")
  - else
    = yield
