---
layout: false
index: false
---

:ruby

  ### Hacky approach to open a file in a Linux-based cross-desktop GUI editor
  #
  # (Returns when editing is complete)

  path = req.params['path']

  results = sitemap.resources.select { |p| p.url == path }

  file = results ? results.first.source_file : nil

  `xdg-open "#{file}"` if file

= file
