---
title: Documentation
category: documentation
layout: toc
authors: dneary, metao, quaid, sandrobonazzola
---

:css
  .row, h1, h2, h3, h4, li {
    font-family: 'Open Sans', sans-serif !important;
  }

%h1.hidden.firstHeading Documentation

.row
  .col-md-6.listNotAsUL
    :markdown
      ### Documentation
      - [Quick Start Guide](quickstart/quickstart-guide)
      - [oVirt Installation Guide](install-guide/Installation_Guide)
      - [oVirt Upgrade Guide](upgrade-guide/upgrade-guide)
      - [oVirt Administration Guide](admin-guide/administration-guide/)
      - [oVirt Virtual Machine Management Guide](vmm-guide/Virtual_Machine_Management_Guide)
      - [oVirt Introduction to the Administration Portal](intro-admin/Introduction_to_the_Administration_Portal)
      - [oVirt Introduction to the VM Portal](intro-vm-portal/intro-vm-portal)
      - [oVirt Self-Hosted Engine Guide](self-hosted/Self-Hosted_Engine_Guide)
      - [oVirt Data Warehouse Guide](data-warehouse/Data_Warehouse_Guide)
      - [oVirt Metrics Store Installation Guide](metrics-install-guide/metrics-install-guide)
      - [oVirt Metrics Store User Guide](metrics-user-guide/metrics-user-guide)
      - [oVirt Disaster Recovery Guide](disaster-recovery-guide/disaster-recovery-guide)
      - [oVirt Gluster Hyperconvergence Guide](gluster-hyperconverged/Gluster_Hyperconverged_Guide)
      - [oVirt Orb](ovirt-orb/)
  .col-md-6.listNotAsUL
    :markdown
      ### Release Notes

      #### Latest Release Notes
      - [oVirt 4.2.7](/release/4.2.7/)

      #### Previous Release Notes
      - [oVirt 4.2.6](/release/4.2.6/)
      - [All Releases](/release/)

.row
  .col-md-6.listNotAsUL
    :markdown
      ### Additional Documentation

      #### Note: may be outdated

      - [Architecture](./architecture)
      - [How to guides](./how-to)
      - [Internal](./internal)
      - [Security](./security)
      - [SLA](./sla)
      - [Storage](./storage)
      - [Resources](./resources)
