---
title: Documentation
category: documentation
authors: dneary, metao, quaid
wiki_category: Documentation
wiki_title: Documentation
wiki_revision_count: 10
wiki_last_updated: 2014-04-26
---


%h1.hidden.firstHeading Documentation

.row{style: "text-align: center"}
  :ruby
    videoWidth = 400
    videoHeight = (videoWidth / 4 * 3).ceil

    video = {
      allowfullscreen: true,
      frameborder: 0,
      width: videoWidth,
      height: videoHeight,
      src: "//www.youtube.com/embed/VIDID?showsearch=0&modestbranding=1"
    }

    video1 = video.dup
    video1[:src].sub!('VIDID', 'Aq3ctFhBIhk')

    video2 = video.dup
    video2[:src].sub!('VIDID', 'C4gayV6dYK4')

  .col-md-5.col-md-offset-1
    %iframe{video1}
    %p Installing oVirt on a single machine

  .col-md-5
    %iframe{video2}
    %p Creating and migrating VMs

.row
  .col-md-4
    :markdown
      ### User Documentation
      - [Quick Start Guide](Quick_Start_Guide)
      - [oVirt Administration Guide](OVirt_Administration_Guide)
      - [oVirt User Guide](OVirt_User_Guide)
      - Release notes:
          [oVirt 3.6](OVirt_3.6_Release_Notes),
          [oVirt 3.5](OVirt_3.5_Release_Notes),
          [oVirt 3.4](OVirt_3.4_Release_Notes),
          [oVirt 3.3](OVirt_3.3_release_notes),
          [oVirt 3.2](OVirt_3.2_release_notes),
          [oVirt 3.1](OVirt_3.1_release_notes), 
          [oVirt 3.0](OVirt_3.0_release_notes)
      - [Troubleshooting](Troubleshooting) - When things go wrong
      - [About oVirt](About_oVirt)

    :markdown
      ### Contributed Documentation

      - [Up and Running with oVirt 3.5](http://community.redhat.com/blog/2014/10/up-and-running-with-ovirt-3-5/) - by [Jason Brooks](User:Jbrooks)
      - [Integrating Gluster storage into oVirt](http://middleswarth.net/content/installing-ovirt-31-and-glusterfs-using-either-nfs-or-posix-native-file-system-engine) - by [Robert Middleswarth](User:Rmiddle)

  .col-md-4
    :markdown
      ### Developer documentation

      - [Install nightly snapshot](Install_nightly_snapshot)
      - [Building oVirt engine](Building_oVirt_engine)
      - [Building oVirt Node](Node_Building)
      - [Building VDSM](Vdsm_Developers)
      - [Contributing to the Node project](Contributing_to_the_Node_project)
      - [Submitting a patch with Gerrit](Working_with_oVirt_Gerrit)
      - [The development process](DevProcess)
      - [Release management](Release_process)
      - [Getting in contact with the oVirt community](Communication)
      - [Becoming a maintainer](Becoming_a_maintainer)
      - [oVirt architecture](Architecture)
      - [Feature Roadmap oVirt 3.6](OVirt_3.6_Release_Management)
        (see also old roadmaps for
        [oVirt 3.5](OVirt_3.5_release-management),
        [oVirt 3.4](OVirt_3.4_release-management#Features),
        and [oVirt 3.3](OVirt_3.3_release-management#Features))
      - [Building a custom user portal](Sample_user_portals)
      - [Building oVirt engine DWH](OVirt_DWH_development_environment)
      - [Building oVirt engine Reports](OVirt_Reports_development_environment)


  .col-md-4
    :markdown
      ### Community documentation

      oVirt community processes and resources

      - [Guidelines for community activity](Community_guidelines)
      - [Communicating via Mailing lists and IRC](Communication)
      - [Editing this wiki](Help:Editing)
      - [Organising pages in the wiki](Help:Wiki_structure)
      - [Reporting a bug](https://bugzilla.redhat.com/enter_bug.cgi?product=ovirt)
      - [Community activity](Community_activity)
      - [Outreach](Outreach)
      - [oVirt Global Workshops](OVirt_Global_Workshops)

.row
  .col-md-6

    :markdown
      ## Getting involved

      Do you want to help us improve the documentation for oVirt?

      -   [Sign up for a wiki account, and log in](Special:UserLogin)
      -   Help fill some of the [gaps](Gap_analysis) we've identified
      -   Help out with some [wiki gardening](Website_organisation)

      Your time and effort is appreciated!

