---
title: Documentation
category: documentation
layout: toc
authors: dneary, metao, quaid
---


%h1.hidden.firstHeading Documentation

.row{style: "text-align: center"}
  :ruby
    videoWidth = 400
    videoHeight = (videoWidth / 4 * 3).ceil

    video = {
      allowfullscreen: true,
      frameborder: 0,
      width: videoWidth,
      height: videoHeight,
      src: "//www.youtube.com/embed/VIDID?showsearch=0&modestbranding=1"
    }

    # Duplicate the videos with the starter object
    video1 = video.dup
    video2 = video.dup

    # Customize each video object with the proper ID
    video1[:src] = video[:src].sub('VIDID', 'Aq3ctFhBIhk')
    video2[:src] = video[:src].sub('VIDID', 'C4gayV6dYK4')

  .col-md-5.col-md-offset-1
    %iframe{video1}
    %p Installing oVirt on a single machine

  .col-md-5
    %iframe{video2}
    %p Creating and migrating VMs

.row
  .col-md-4
    :markdown
      ## Primary Documentation
      - #### [Quick Start Guide](quickstart/quickstart-guide)
      - #### [oVirt Installation Guide](install-guide/Installation_Guide)
      - #### [oVirt Upgrade Guide](upgrade-guide/upgrade-guide)
      - #### [oVirt Administration Guide](admin-guide/administration-guide/)
      - #### [oVirt Virtual Machine Management Guide](vmm-guide/Virtual_Machine_Management_Guide)
      - #### [oVirt Introduction to the Administration Portal](intro-admin/Introduction_to_the_Administration_Portal)
      - #### [oVirt Introduction to the User Portal](intro-user/Introduction_to_the_User_Portal)
      - #### [oVirt Self-Hosted Engine Guide](self-hosted/Self-Hosted_Engine_Guide)
      - #### [oVirt Data Warehouse Guide](data-warehouse/Data_Warehouse_Guide)


  .col-md-4
    :markdown
      ### Additional Documentation

      - [Introduction](./introduction)
      - [Administration](./admin-guide)
      - [Architecture](./architecture)
      - [How to guides](./how-to)
      - [Internal](./internal)
      - [Security](./security)
      - [SLA](./sla)
      - [Storage](./storage)
      - [Drafts](./draft)
      - [Resources](./resources)



  .col-md-4
    :markdown
      ### Release Notes

      #### Latest Release Notes
      - [oVirt 4.1.3](/release/4.1.3/)


      #### Previous Release Notes
      - [oVirt 4.1.2](/release/4.1.2/)
      - [oVirt 4.1.1](/release/4.1.1/)
      - [oVirt 4.0.6](/release/4.0.6/)
      - [oVirt 3.6.7](/release/3.6.7)
      - [oVirt 3.5.6](/develop/release-management/releases/3.5.6)
      - [oVirt 3.4.4](/develop/release-management/releases/3.4.4)
      - [oVirt 3.3.5](/develop/release-management/releases/3.3.5)
      - [oVirt 3.2](/develop/release-management/releases/3.2)
      - [oVirt 3.1](/develop/release-management/releases/3.1)
      - [oVirt 3.0](/develop/release-management/releases/3.0)

.row
  .col-md-4

    :markdown
      ### Community Documentation

      oVirt community processes and resources

      - [Guidelines for community activity](/community/about/community-guidelines)
      - [Communicating via mailing lists and IRC](/community/about/contact/)
      - [Reporting a bug](/community/get-involved/report-a-bug)
      - [Community activiy](/community/about/community-activity/)
      - [Outreach](/community/get-involved/promote)
      - [oVirt Global Workshops](/community/events/archives/workshop/global-workshops/)


  .col-md-4

    :markdown
      ### Getting Involved

      Do you want to help us improve the documentation for oVirt?

      - Sign up for a [GitHub](https://github.com) account, and log in
      - Help fix some of the [issues](http://github.com/ovirt/ovirt-site/issues) we've identified
      - Help out with some [website gardening](https://github.com/oVirt/ovirt-site)

      Your time and effort is appreciated!
