
%div.alert.alert-warning
  Much of this developer documentation provides historical context but may not reflect the current state of the project.
  %br
  If you see outdated content please navigate to the page footer and click "<strong>Report an issue on GitHub</strong>".
  %br
  %br
  It is <strong>not</strong> user documentation and should not be treated as such.
  %br
  %br
  %a(href="/documentation/")User Documentation is available here.
