
%div.alert.alert-warning
  This developer documentation is <strong>outdated</strong>, but provides historical context.
  %br
  %br
  It is <strong>not</strong> user documentation and should not be treated as such.
  %br
  %br
  %a(href="/documentation/")Documentation is available here.

