
%div.alert.alert-warning
  Feature pages are design documents that developers have created while collaborating on oVirt.
  %br
  %br
  Most of them are 
  %strong
    outdated
  , but provide historical design context.
  %br
  %br
  They are 
  %strong
    not 
  user documentation and should not be treated as such.
  %br
  %br
  %a(href="/documentation/")Documentation is available here.

