<head>
  <meta charset="utf-8">
  {% seo %}
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
  <link rel="stylesheet" href="{{ '/stylesheets/fonts.css' | relative_url }}" />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="{{ '/stylesheets/application.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/stylesheets/print.css' | relative_url }}" media="print" />
  <link href='/images/favicon.ico' rel='shortcut icon'>
</head>
