<head>
  <meta charset="utf-8">
  {% seo %}
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
  <link rel="stylesheet" href="{{ '/stylesheets/fonts.css' | relative_url }}" />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="{{ '/stylesheets/application.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/stylesheets/print.css' | relative_url }}" media="print" />
  <link rel="stylesheet" href="{{ '/stylesheets/coderay.css' | relative_url }}" media="screen" />
  <link rel="stylesheet" href="{{ '/stylesheets/asciidoc.css' | relative_url }}" />
  <script src="{{ '/javascripts/vendor/jquery.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/javascripts/vendor/bootstrap.min.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/javascripts/vendor/bootstrap-sortable.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/javascripts/vendor/moment.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/javascripts/vendor/fullcalendar/fullcalendar.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/javascripts/lib/cal-widget.js' | relative_url }}" type="text/javascript"></script>
  {% favicon %}
</head>
