:ruby
  def page_title(p)
    p['title'] || p.url.split('/').last.titleize
  end

  # fetch pages for listing
  cur_level = page.url.count('/')
  page_list = site.pages.select do |p|
      next unless p.html?

      p_level = p.url.count('/')

      p.url.start_with?(page.url) and
      ((p_level == cur_level) or (p.index? and p_level == cur_level+1))
    end.sort_by {|p| page_title(p).downcase }

%h1= page_title(page)

%ul
  - page_list.each do |p|
    - next if p.url == page.url
    - title = page_title(p)
    %li
      %a{:href => p.url, :title => title}= title

