---
title: Page not found
---

%h1
  Not found
  %span :(
%p Sorry, but the page you were trying to view does not exist.
%p It looks like this was the result of either:
%ul
  %li a mistyped address
  %li an out-of-date link

= partial "search"

- content_for :tail do
  :javascript
    jQuery(function($){
      var missing_words = document.location.pathname.replace(/[\/\+:\s\-]+/g, ' ').trim()
      $('#search-input').val(missing_words).trigger('keypress')
    });
