---
pageable: true
---

- content_for :head do
  %link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")


:markdown
  # Open Your Virtual Datacenter

%section.intro.row
  .intro-net
    :markdown
      ## Manage your virtualized networks
      ![](icon/net.svg)
      oVirt manages virtual machines, storage and virtualized networks.

  .intro-web
    :markdown
      ## Easy to use web interface
      ![](icon/web.svg)
      oVirt is a virtualization platform with an easy-to-use web interface

  .intro-kvm
    :markdown
      ## KVM based virtualization management
      ![](icon/kvm.svg)
      oVirt is powered by the Open Source you know - KVM on Linux.


%section.start-now
  %hr
  %span.btn.btn-action.btn-block=link_to "Start using oVirt now &raquo;", "/download/"
  %hr

- if defined? page_number && page_number < 2

  -# First-page only stuff here
  -# (If a blog is included below, then it may paginate)

.row
  .col-md-4
    %section.blog-posts

      %h2
        = data.site.name
        News

      = partial :blog_posts, locals: locals

    :markdown
      ## oVirt 3.5.1 Released!

      The oVirt team is pleased to announce that the oVirt 3.5.1 Final Release is now available as of Jan 21st 2015.

      oVirt is available now for Fedora 20, Red Hat Enterprise Linux 6.6, CentOS 6.6, (or similar) and Red Hat Enterprise Linux 7, CentOS 7 (or similar).

      This release of oVirt includes the capability to run oVirt Engine on el7, as well as numerous bug fixes, so see the [ 3.5.1 release notes](OVirt_3.5.1_Release_Notes) for a list of the new features and bugs fixed.

      {:.pull-right}
      [ Read the 3.5.1 release notes »](OVirt_3.5.1_Release_Notes)

      {:.pull-right}
      [ Get started with oVirt 3.5.1 now »](Download)

  .col-md-4
    :markdown

      ## Upcoming Events

      ###oVirt Asia Workshop

      Date: March 14, 2015
      Location: Singapore
      The oVirt Asia Workshop will highlight the new and exciting features of oVirt and walk users through the best use cases of virtual datacenter management.


      ### FOSSAsia

      Date: March 13-15, 2015
      Location: Singapore
      The Smart City with Open Source, Big Data, Design Thinking, and Free Knowledge Tools at Asia's premier open technology event.

  .col-md-4
    .well.well-lg
      :markdown
        ## User Case Study

        ![](Sevilla.jpg){:width="200"}

        One of the largest universities in Spain needed a virtualization solution to host their virtual desktop interface program and help managed their desktop and server costs.

        That solution would be oVirt. Today, more than 3,000 students use this virtual desktop infrastructure, with the prospect of the rest of the student body participating as the program grows.

        {:.pull-right}
        Read the full [Universidad de Sevilla case study](Universidad_de_Sevilla_Case_Study)

        {:.pull-right}
        Find other [ user case studies](:Category:Case studies)

.row
  .col-md-4
    :markdown

      ### Community is Key

      Everyone is encouraged to [ join the oVirt community](Community), and help us bring our open source software to virtual datacenters worldwide.

      Community can be found in many places in the global community. Keep track of the latest happenings in the oVirt community, including new release announcements, and send your thoughts and links to virtualization-related topics on these social media channels:

      {:.icon-list}
      * [Twitter](//twitter.com/ovirt){:.icon-twitter}
      * [Google+](//plus.google.com/u/0/communities/109346090491400112913){:.icon-google-plus}
      * [Facebook](//www.facebook.com/groups/ovirt.openvirtualization/){:.icon-facebook}
      * [YouTube](//www.youtube.com/user/ovirtproject){:.icon-youtube}

  .col-md-8
    :markdown

      ## Packed with Features

      {:.feature-list.column-split}
      * Choice of stand-alone Hypervisor or install-on-top of your existing Linux installation
      * High availability
      * Live migration
      * Load balancing
      * Web-based management interface
      * Self-hosted engine
      * iSCSI, FC, NFS, and local storage
      * Enhanced security: SELinux and Mandatory Access Control for VMs and hypervisor
      * Scalability: up to 64 vCPU and 2TB vRAM per guest
      * Memory overcommit support (Kernel Samepage Merging)
      * Developer SDK for ovirt-engine, written in Python

      {:.pull-right}
      […and over 250 more »](Category:Feature)

- content_for :tail do
  :coffee
    $ ->
      # Change the location to what's in the link if the span is clicked
      $('span.btn').on 'click', (e)->
        window.location = $('a', @).attr('href') if @ == e.target
