---
title: Main
---
-# this is HAML, and we use Bootstrap as our building blocks.
.container
  .jumbotron
    %h2 Say hello to Middleman and Springboard!
    %p 
      Springboard is a project template for
      %a( href="http://middlemanapp.com" ) Middleman 
      that adds useful modules like blogging, documentation browser
      and some web development grease to make your life easier. If you
      are reading this, replace this with your own content!
