---
title: ''
page_classes: front-page
pageable: false
no_container: true
authors: bproffitt, dneary, doron, knesenko, mburns, quaid, sandrobonazzola, theron, garrett, lveyde, gregsheremeta
hide_metadata: true
---

:markdown

%div.banner
  %a(href="https://blogs.ovirt.org/ovirt-2020-online-conference/")
    %img#rome(src="/images/BannerConf2020.png" style="display:block; margin-left: auto; margin-right: auto; align-items: center; margin-bottom: 50px;")

%section.intro(style="font-family: 'Open Sans', sans-serif !important; color: #666; text-align: center; min-height: 50vh; display: flex; align-items: center;")
  .container
    .row
      .col-xs-12
        %h1#banner POWERFUL OPEN SOURCE VIRTUALIZATION
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        %p#sub-banner oVirt is a free open-source virtualization solution for your entire enterprise
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        %a.btn.btn-primary(href="/download") Download 4.4.1
        %a.btn.btn-primary(href="/release/4.4.1/") Release Notes

%div.promo_whatisovirt
  .container
    .row
      .col-md-8
        %h2 COMMUNITY POWERED
        %div
          :markdown
            oVirt is an open-source distributed virtualization solution, designed to manage your entire enterprise infrastructure.
            oVirt uses the trusted KVM hypervisor and is built upon several other community projects, including libvirt, Gluster, PatternFly, and Ansible.
      .col-md-4
        %div
          %img#kvm(src="/images/logos/kvm.png")
          %img#libvirt(src="/images/logos/libvirt.png")
          %img#gluster(src="/images/logos/gluster.jpg")
          %img#patternfly(src="/images/logos/patternfly.png")
          %img#ansible(src="/images/logos/ansible.png")

%div.promo_features
  .container
    .row
      .col-md-8
        %h2 What's included?
        %div
          :markdown
            * Rich web-based user interfaces for both admin and non-admin users
            * Integrated management of hosts, storage, and network configuration
            * Live migration of virtual machines and disks between hosts and storage
            * High availability of virtual machines in the event of host failure

      .col-md-4
        %div
          %img(src="/images/promo/graphic_packed_with_features.png")

%div.promo_casestudy
  .container
    %h2 Case Studies
    %div.carousel-inner.text-center
    :ruby
      studies = Jekyll.sites.first.pages.select do |p|
        next unless p.data.page_classes
        p.data.page_classes[/case-studies/]
      end.first
      case_studies = Nokogiri::HTML(studies.content).css('.case-study')

    %div.item.active
      - (0..2).each do |i|
        %div.useCaseHolder
          %div.case-study
            :markdown
              #{case_studies[i].content}

  %div
    .container
      .textViewAllItems
        :markdown
          [See more...](/community/user-stories/user-stories/)
