---
title: oVirt Logo
authors: sandrobonazzola
---

:markdown
%h1 oVirt Logo
%p The oVirt logo was originally created by Bryan Clark back in 2006 - 2007ish when the project was first started.
%p Máirín Duffy re-created the logo for the relaunch in late 2011 / early 2012.
%p Garrett LeSage modified the "o" and colors to make a revised logo during the website relaunch in mid-2012.
%p Laura Wright updated it around 2019 to match the new colors and style used by the project.
%h2 Trademarks
%p Red Hat, oVirt and the oVirt logos are trademarks of Red Hat, Inc., registered in the United States and other countries. All other trademarks are the property of their respective owners.
%hr
%div(style="background: #d0d7de; padding: 5em; display: flex; flex-flow: row wrap; justify-content: space-around; align-items: center;")
  %div
    %img(src="images/profile-logo.svg" alt="oVirt profile logo" width=100 height=100 style="display:block; margin-bottom:1em;")
    %a.btn.btn-primary(href="images/profile-logo.svg") Download GitHub Profile Logo SVG
  %div
    %img(src="images/bw-logo.svg" alt="oVirt profile logo" width=212 height=80 style="display:block; margin-bottom:1em;")
    %a.btn.btn-primary(href="images/bw-logo.svg") Download B/W Logo

%hr
%div(style="background:#111111; padding:5em; display: flex; flex-flow: row wrap; justify-content: space-around; align-items: center;")
  %div
    %img(src="images/logo.svg" alt="oVirt site logo"  width=212 height=80 style="display:block; margin-bottom:1em;")
    %a.btn.btn-primary(href="images/logo.svg") Download Website Logo SVG
  %div
    %img(src="images/logo-green.svg" alt="oVirt site logo"  width=212 height=80 style="display:block; margin-bottom:1em;")
    %a.btn.btn-primary(href="images/logo-green.svg") Download Website Logo SVG
